.about__title {
    color: $black;
    margin: 0;
    margin-top: 32px;
    line-height: 1.6;
}

.about__text {
    font-family: $Roboto;
    font-size: 14px;
    color: $grey-p;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
    line-height: 1.5;
}

.about__button {
    margin-bottom: 15px;
}

@include md {
    .about__title {
        margin-top: 64px;
    }

    .about__text {
        line-height: 2;
        margin-bottom: 32px;
    }
}

@include lg {
    .about {
        width: 420px;
    }

    .about__title {
        text-align: left;
    }

    .about__text {
        line-height: 2;
        margin-bottom: 28px;
    }

    .about__wrap-lg {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .about__dash {
        text-align: left;
    }
}