.about {
    background-color: $white;
}

.about__container {
    padding: 32px 0px;
}

.about__title {
    color: $black;
    margin: 0;
    line-height: 1.6;
}

.about__text {
    font-family: $Roboto;
    font-size: 14px;
    color: $grey-p;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
    line-height: 1.5;
}

.about__button {
    margin-bottom: 24px;
}

@include md {
    .about__container {
        padding: 60px 0px 70px 0px;
    }

    .about__text {
        line-height: 2;
        margin-bottom: 32px;
    }

    .about__button {
        margin-bottom: 36px;
    }
}

@include lg {
    .about__container {
        padding: 112px 0px 82px 0px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .about__content {
        width: 36%;
    }

    .about__title {
        text-align: left;
    }

    .about__text {
        line-height: 2;
        margin-bottom: 28px;
    }

    .about__dash {
        text-align: left;
    }

    .about__button {
        margin-bottom: 0px;
    }
}