.header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    background-color: $white;
    padding: 0px;
}

.header__top {
    box-shadow: 0px 2px 5px 0px rgba(215, 225, 236, 0.65);
    padding-left: 15px;
    padding-right: 15px;
    background-color: $white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: none;
}

.header__nav_open {
    display: block;
    overflow: visible;
    height: 100vh;
    background-color: $white;
}

@include md {
    .header {
        padding: 0;
    }

    .header__top {
        box-shadow: none;
        padding-left: 40px;
        padding-right: 40px;
        height: 74px;
    }

    .header__nav_open {
        margin-top: 0;
    }
}

@include lg {
    .header {
        padding: 0 47px 0 62px;
        height: 72px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 2px 5px 0px rgba(215, 225, 236, 0.65);
    }

    .header__top {
        box-shadow: none;
        padding: 0px;
        background-color: $white;
        height: 40px;
        display: block;
    }

    .header__nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

@media screen and (min-width: 992px) and (max-width: 1050px) {
    .header {
        padding: 0 25px;
    }
}