.slick-slider-members {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 18px 0px;
}

.slick-slider-members .slick-prev {
    cursor: pointer;
    left: -7px;
    text-indent: -9999px;
    border: none;
    background: url('../../../img/figures/left.svg') center no-repeat;
    padding: 0;
    width: 110px;
    height: 44px;
    margin: auto;
    transition: background 0.3s;

    &:hover {
        background: url('../../../img/figures/left-black.svg') center no-repeat;
        transition: background 0.3s;
    }
}

.slick-slider-members .slick-next {
    cursor: pointer;
    right: -7px;
    text-indent: -9999px;
    border: none;
    background: url('../../../img/figures/right.svg') center no-repeat;
    padding: 0;
    width: 110px;
    height: 44px;
    margin: auto;
    transition: background 0.3s;

    &:hover {
        background: url('../../../img/figures/right-black.svg') center no-repeat;
        transition: background 0.3s;
    }
}

@include md {
    .slick-slider-members {
        padding: 55px 0px;
    }

    .slick-slider-members .slick-prev {
        left: -20px;
    }
    
    .slick-slider-members .slick-next {
        right: -20px;
    }
}

@include lg {
    .slick-slider-members {
        padding: 53px 0px;
    }

    .slick-slider-members .slick-prev {
        left: -20px;
    }
    
    .slick-slider-members .slick-next {
        right: -20px;
    }
}